<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>
    <div class="background">
        <div class="wrapper">
            <div class="header">
                <a>About?</a>
                <a href="/venue">Venues</a>
                <a  href="/"><img src="~/images/title.png"></a>
                <a href="/artist">Artists</a>
                <a href="/join">Join</a>
            </div>
        </div>
        <div class="footer">
            <div class="descrip">
                <h4>Find entertainment in your area</h4>
            </div>
        </div>
    </div>
</body>