<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <h1>Lost in the Woods</h1>
            <h4>A list of local hiking trails</h4>
        </div>
        <div class="content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Trail Name</th>
                        <th scope="col">Trail Length</th>
                        <th scope="col">Elevation Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Link goes here</td>
                        <td>Length + km</td>
                        <td>Elevation + feet</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <a href="new_trail" class="badge badge-primary">Add a New Trail</a>
        </div>
    </div>
</body>