<head>
    <link rel="stylesheet" href="~/css/trail.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <h1>Trail Name</h1>
            <div class="descrip">
                <h4>Description</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, repudiandae rem veniam numquam delectus earum maiores dolores ad libero asperiores veritatis ratione excepturi, fuga in provident distinctio? Nobis, rem deserunt?</p>
            </div>
            <div class="length">
                <h4>Trail Length</h4>
                <p>Some distance</p>
            </div>
            <div class="elevation">
                <h4>Elevation Change</h4>
                <p>Some height</p>
            </div>
        </div>
        <div class="right">
            <a href="/">Go Home</a>
            <img src="~/images/map-drawing-22.gif">
            <div>
                <h5>Longitude</h5>
                <h5>Latitude</h5>
            </div>
        </div>
    </div>
</body>