<head>

</head>
<body>
@model Category
    <div class="wrapper">
        <h1>New Category</h1>
            <form asp-action="addCategory" asp-controller="Home" method="POST">
                <div class="inp form-group">
                    <label>Name:</label>
                    <span asp-validation-for="Name"></span>
                    <input asp-for="Name" type="text" class="form-control">
                </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>