@model User
      <h1>Login:</h1>
            <form action="loginuser" method="POST">
                <div class="inp form-group">
                    <span asp-validation-for="Email"></span><br>
                    <label>Email:</label>
                    <input asp-for="Email" name="Email" type="Email" class="form-control">
                </div>
                <div class="inp form-group">
                    <span asp-validation-for="Password"></span><br>
                    <label>Password:</label>
                    <input asp-for="Password" name="Password" type="Password" class="form-control">    
                </div>
                <button type="submit">Submit</button>
            </form>