<form asp-action="Create" asp-controller="Home" method="post">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name">
        <input asp-for="Name">
        
        <span asp-validation-for="Emai"></span>
        <label asp-for="Email">
        <input asp-for="Email">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">
        <input asp-for="Password">
        <input value="Add User" type="submit">
    
</label></label></label></form>