<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Index</Title>
        <link rel="stylesheet" href="~/css/style2.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div class="navbar contianer text-center">
            <div class="child container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="middle nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title container">
            <h1>Contact Me!</h1>
        </div>
        <div class = "container">
            <div class="row">
                <div class="column col-md">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="column col-md">
                    <div class="form-group">
                        <label for="message">Message:</label><br>
                        <textarea class="form-control" rows="5"id="comment"></textarea>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger">Submit</button>
        </div>
    </body>
</html>