<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Index</Title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div class="navbar contianer text-center">
            <div class="child container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="middle nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title container">
            <h1>About Me</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="photo column lg-5">
                    <!-- <img src="../../wwwroot/image/image-1465348_960_720.jpg" alt="bb"> -->
                </div>
                <div class="copy column lg-6">
                    <p>Vestibulum posuere turpis ex, ut scelerisque sem tincidunt congue. Nunc aliquet tristique hendrerit. Aenean hendrerit lacinia lorem. Ut sagittis lectus eget augue gravida malesuada. Phasellus a ornare ligula. Vivamus gravida quam vitae fringilla malesuada. Nulla accumsan, massa et gravida mattis, leo mi dignissim lectus, elementum condimentum lacus magna at elit. Sed blandit dapibus libero at luctus. Nullam tristique nibh et rutrum tempor. Sed eu felis fermentum, efficitur neque id, tempus nisl. Suspendisse potenti. In id mauris ante.</p>
                    <p>Mauris malesuada est eros, at mattis nisi suscipit aliquam. Vivamus ut mi massa. Mauris sit amet ornare risus. Vestibulum tincidunt sapien sem, et porttitor dolor vehicula et. Praesent hendrerit pretium nibh, sed tristique urna laoreet non.</p>
                    <p>Ut fermentum feugiat varius. In suscipit erat quis ex aliquam hendrerit. Integer arcu purus, laoreet non lacus at, pretium laoreet lectus. Morbi at turpis ut felis condimentum sagittis ut non quam. Duis congue congue lectus, nec consectetur nibh tristique ac. Nullam nec facilisis neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris semper, urna a tincidunt porttitor, libero felis semper urna, vel placerat ex ante nec sem. Proin pharetra odio iaculis metus mollis interdum. Curabitur eget vestibulum magna. Aenean vel nunc at ipsum ornare mattis. Vivamus in luctus neque, id iaculis sapien. Ut vestibulum sem in fringilla mattis. Nullam elementum sed diam eu suscipit. Vestibulum volutpat id ligula at dapibus. Sed et scelerisque diam, in pharetra tellus.</p>
                </div>
            </div>
        </div>
    </body>
</html>