<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Index</Title>
        <link rel="stylesheet" href="~/css/style2.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div class="navbar contianer text-center">
            <div class="child container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="middle nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title container">
            <h1>Here are some projects of mine:</h1>
        </div>
        <div class="project container">
            <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
             <div class="hold row">
                <div class="photo column">
                </div>
                <div class="text column">
                    <p>Aenean et scelerisque urna. Fusce non purus a nulla faucibus lacinia. Aliquam viverra hendrerit tellus placerat ullamcorper. Curabitur nec odio vel arcu gravida interdum eu ut elit. Nunc in ultrices sem. Morbi scelerisque neque magna, vel interdum nisl maximus vel. Integer pharetra vestibulum massa hendrerit semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam efficitur sodales eros, eget ultrices est bibendum et. Donec nec risus malesuada, sollicitudin ex eget, blandit sapien. Proin quam orci, tincidunt nec iaculis id, lacinia sed nulla. Morbi sagittis leo a sem mattis dapibus. Integer ac mauris nec arcu rhoncus mollis. Integer rhoncus lorem dolor, quis ultricies enim scelerisque id. In nec nisl et quam elementum suscipit.</p>
                </div>
            </div>
        </div>
    </body>
</html>