<div>
    <div>
        <h6>Wins: @ViewBag.Win</h6>
        <h6>Losses: @ViewBag.Lose</h6>
        <h6>Ties: @ViewBag.Tie</h6>
    </div>
    <div>
        <h1>Rock Papper Scissors</h1>
        <p>@ViewBag.Message</p>
    </div>
    <div>
        <a href="rock" class="badge badge-primary">Rock</a>
        <a href="paper" class="badge badge-primary">Paper</a>
        <a href="scissors" class="badge badge-primary">Scissors</a>
    </div>
</div>

